#logininfo {
	display: inline-block;
	position: absolute;
	top:250px;
	left:450px;
	}

html {

	background-image: url("bimage.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
}


